{{progreso}}
<div class="input-group">
    <span class="input-group-btn">
        <button type="button" [ngClass]="className" (click)="cambiarValor(-5)">
            <i class="fa fa-minus"></i>
        </button>
    </span>

    <input
        type="text"
        class="form-control"
        [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}"
        placeholder="progreso"
        [(ngModel)]="progreso"
        (ngModelChange)="onChange($event)"
    />
    <!-- [ngClass]="{'is-invalid': progreso > 100 || progreso < 0}" -->
    <!-- (ngModelChange)="onChange($event)" -->

    <span class="input-group-btn">
        <button type="button" [ngClass]="className" (click)="cambiarValor(5)">
            <i class="fa fa-plus"></i>
        </button>
    </span>
</div>
